.App {
  text-align: center;
}

.login-form{
  margin-top:25%;
  border-style: solid;
  border-radius: 2%;
  border-width: thick;
  border-color: gray;
  padding: 20px;
}
.login{
  margin-top:10%;
  background-color: green;
  color:white;
  padding: 20px;
}

.offer-ride{
  margin-top:10%;
  margin-left: 15%;
  width:50%;
}
